<!-- <div class = "page-header"> -->
{% if task.type == task.SUBMIT %}
    <h2>{{ task.title }} ({{ task.id }})</h2>
    <ul class="nav nav-tabs">
        <li {% if active == 'text' %} class = "active" {% endif %}><a href = "{% url 'tasks:task' task.id %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Zadanie</a></li>

        <li {% if active == 'ex_sol' %}
                class = "active"
            {% elif not is_solved %}
                {% if not req_user.is_active or not req_user.is_staff %}
                    class = "disabled"
                {% endif %}
            {% endif %}
            >

            {% if is_solved %}
                <a href = "{% url 'tasks:example_solution' task.id %}"><span class="glyphicon glyphicon-ok"></span>&nbsp;
            {% else %}
                <a{% if req_user.is_staff and req_user.is_active %} href = "{% url 'tasks:example_solution' task.id %}"{% endif %}><span class="glyphicon glyphicon-remove"></span>&nbsp;
            {% endif %}
            Riešenie</a>
        </li>
        <li><a href = "{% url 'submit:task' task.id %}"><span class="glyphicon glyphicon-check"></span>&nbsp;Úspešní riešitelia ({{ task.num_solvers }})</a></li>
     </ul>
     <br />
{% elif task.type == task.READ %}
    <div class = "page-header">
        <h2>{{ task.title }}</h2>
    </div>
{% endif %}
<!--        <li><a href = "{% url 'submit:task' task.id %}">Štatistika</a></li>
    </ul>
    <br />-->
<!-- </div> -->
