<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

  <div class="container">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-ex1-collapse">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>

        <a class="navbar-brand" href="{% url 'about:intro' %}">Programátorská liaheň</a>

    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav">

            {% if user.is_authenticated %}

                <li {% if active_app == 'tasks' %} class = "active" {% endif %}>

                    <a href="{% url 'tasks:index' %}">
                        <span class="glyphicon glyphicon-tasks"></span>
                        &nbsp;Úlohy
                    </a>

                </li>

                <li {% if active_app == 'submit' %} class = "active"{% endif %}>

                    <a href="{% url 'submit:index'%}">
                        <span class="glyphicon glyphicon-envelope"></span>
                        &nbsp;Submity
                    </a>

                </li>

            {% endif %}

        </ul>

        {% include "ksp_login/parts/login_box.html" %}

        <ul class="nav navbar-nav navbar-right">

            <li>

                <a href="{% url 'about:about'%}">
                    <span class="glyphicon glyphicon-envelope"></span>
                    O Liahni &amp; Kontakt
                </a>

            </li>

            <li>

                <a href="{% url 'about:terms' %}">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Podmienky používania
                </a>

            </li>

            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>

        </ul>

    </div><!-- /.navbar-collapse -->

  </div>

</nav>
