<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'about:intro' %}">Programátorská liaheň</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li {% if active_app == 'tasks' %}class = "active"{% endif %}><a href="{% url 'tasks:index' %}"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Úlohy</a></li>
            <li {% if active_app == 'submit' %}class = "active"{% endif %}><a href="{% url 'submit:index'%}"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Submity</a></li>
            <li><a href=""><span class="glyphicon glyphicon-certificate"></span>&nbsp;Achievementy</a></li>
        </ul>
        {% include "ksp_login/parts/login_box.html" %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href = "{% url 'about:intro' %}#contact" ><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;Kontakt</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>
