    <div class = "row">
        <div class = "col-lg-6" id="contact">
            <div class = "page-header">
                <h2>Kontakt</h2>
            </div>
            <div class = "col-lg-6">
                <h4>Elektronický</h4>
                <h5>Webmaster</h5>
                <p>Ak máš pripomienky k funkčnosti a(lebo) kráse našich www-stránok:<br />
                <strong>todo at todo</strong>
                <p>
                <h5>Príklady</h5>
                <p>Ak máš nejasnoti ohľadom zadaní:<br />
                <strong>todo at todo</strong> alebo na naše <a href ="http://www.ksp.sk/forum/">fórum</a>
                </p>
                <h5>Ostatné</h5>
                <p>Vo všetkých ostatných prípadoch:<br />
                <strong>todo at todo</strong>
                </p>
            </div>
            <div class = "col-lg-6">
                <h4>Klasický</h4>
                <p>Sídlime v pavilóne matematiky na <a href = "http://www.fmph.uniba.sk">FMFI UK</a> v miestnosti T2.</p>
                <h5>Adresa</h5>
                <p>
                <strong>
                KSP<br />
                Katedra základov a vyučovania informatiky<br />
                Fakulta Matematiky, Fyziky a Informatiky<br />
                Univerzita Komenského<br />
                Mlynská dolina<br />
                842 48 Bratislava</strong></p>
            </div>
        </div>
        <div class = "col-lg-6">
            <div class = "page-header">
                <h2>O nás a o liahni</h2>
            </div>
            <p>Programátorskú liaheň spáchali organizátori <a href = "http://ksp.sk">Korešpondenčeného seminára z programovania</a>, ktorý je spolu s <a href = "http://kms.sk">KMS</a> a <a href = "http://fks.sk">FKS</a> združený v združení <a href = "http://trojsten.sk">Trojsten</a>. Sme z <a href="http://www.fmph.uniba.sk">Fakulty Matematiky, Fyziky a Informatiky UK</a> v Bratislave, väčšina z nás ešte študuje.</p>
            <p>Tejto verzii predchádzala <a href = "https://liahen.ksp.sk">"stará" Liaheň</a>, ktorá výborne poslúžila svojmu účelu, no chceli sme ju vylepšiť a tak sme sa rozhodli prerobiť ju od základov.</p>
            <p>Priebežne ešte dorábame ako funkcie, tak aj obsah. "Funguje" to už dávno, a dokonalé to nebude nikdy. :-) Ak bez nejakej konkrétnej veci nemôžeš byť, <a href = "{% url 'about:intro' %}#contact">kontaktuj nás</a>, presunieme ju na vyššie miesto v rebríčku priorít.</p>
        </div>
    </div>
