    <div class = "row">
        <div class = "col-lg-12"><br /></div>
        <div class = "alert alert-info col-lg-12">
        <p>TODO: fancy screenshoty. Ak nechceš "kupovať mačku vo vreci", teda ak by si pred registráciou chcel vedieť viac o tom, ako naša Liaheň vyzerá a funguje, môžeš si pozrieť <a href = "" class = "alert-link">demo</a>, kde uvidíš prvé texty a úlohy, na ktoré v Liahni narazíš. Ak si nedočkavý, tak sa rovno <a href = "{% url 'account_register' %}" class = "alert-link">zaregistruj</a>.</p>
        </div>
    </div>