    <div class = "row">
        <div class = "col-lg-2">
            <div class = "page-header">
            <h4><span class="glyphicon glyphicon-book"></span>&nbsp;Sprievodné texty</h4>
            </div>
            <p>Pripravili sme pre teba texty, ktoré ťa naučia nové veci.</p>
        </div>
        <div class = "col-lg-2">
            <div class = "page-header">
            <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;Vzorové riešenia</h4>
            </div>
            <p>Po vyriešení úlohy sa budeš môcť nechať inšpirovať naším riešením.</p>
        </div>
        <div class = "col-lg-2">
            <div class = "page-header">
            <h4><span class="glyphicon glyphicon-signal"></span>&nbsp;Stupňujúca náročnosť</h4>
            </div>
            <p>Úlohy v jednotlivých sadách na seba nadväzujú.</p>
        </div>
        <div class = "col-lg-2">
            <div class = "page-header">
            <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;Rôzne oblasti</h4>
            </div>
            <p>Vyber si, čo ťa najviac zaujíma a zlepši sa.</p>
        </div>
        <div class = "col-lg-2">
            <div class = "page-header">
            <h4><span class="glyphicon glyphicon-time"></span>&nbsp;Vlastné tempo</h4>
            </div>
            <p>Nikto ťa nebude naháňať, ani ti nikto nebude brániť riešiť rýchlosťou svetla.</p>
        </div>
        <div class = "col-lg-2">
            <div class = "page-header">
            <h4><span class="glyphicon glyphicon-envelope"></span>&nbsp;Automatické testy</h4>
            </div>
            <p>Pošli nám riešenie a náš testovač ti do pár sekúnd pošle výsledok.</p>
        </div>
    </div>
