<div class="container l-bottom-gap">

    <div class = "row">

        <div class = "col-lg-3">

            <div class = "page-header">

                <h4><span class="glyphicon glyphicon-eye-close"></span>&nbsp;Objavuj úlohy</h4>

            </div>

            <p>Zadania všetkých úloh a sprievodné texty neuvidíš hneď,
                ale postupne sa ti budú odkrývať po vyriešení
                predchádzajúcich úloh.
            </p>

        </div>

        <div class = "col-lg-3">

            <div class = "page-header">

                <h4>
                    <span class="glyphicon glyphicon-certificate"></span>
                    &nbsp;Získavaj achievementy
                </h4>

            </div>

            <p>Máš rád výzvy? Splň ich čo najviac.
                S achievementami je Liaheň ešte zábavnejšia.
            </p>

        </div>

        <div class = "col-lg-3">

            <div class = "page-header">

                <h4>
                    <span class="glyphicon glyphicon-star"></span>
                    &nbsp;Buď najlepší programátor
                </h4>

            </div>

            <p>Liaheň ti pomôže pri príprave na súťaže v programovaní –
                či už ide o <a href="http://ksp.sk">KSP</a>,
                <a href="http://oi.sk">Olympiádu v informatike</a> alebo nebodaj
                <a href="http://ioinformatics.org">Medzinárodnú olympiádu v informatike (IOI)</a>.
            </p>

        </div>

        <div class = "col-lg-3">

            <div class = "page-header">

                <h4>
                    <span class="glyphicon glyphicon-play"></span>
                    &nbsp;Začni ešte dnes
                </h4>

            </div>

            <p>Keďže potrebujeme vedieť, ktoré príklady už máš vyriešené,
                treba, aby si sa <a href="{% url 'account_register' %}">zaregistroval</a>.
                Ak už máš svoj login a heslo, môžeš sa
                <a href = "{% url 'account_login' %}">prihlásiť</a>.
                V prípade, že máš akékoľvek otázky či technické problémy,
                neváhaj a <a href = "{% url 'about:intro' %}#contact">kontaktuj nás</a>.
            </p>

        </div>

    </div>

</div>
