{% extends "base.html" %}
{% block title %}O Liahni{% endblock title %}

{% block content %}

</div> <!-- TODO later dat vsade container-fluid a tato grcka tu uz nebude musiet byt -->

<div id="l-intro-whatis">

    <div class="container l-inverse-text">

      <div class = "row l-top-gap l-bottom-gap">


          <div class = "col-md-7 l-bottom-gap">

              <h2>Programátorská liaheň</h2>

              <p> <span class="glyphicon glyphicon-star"> </span>
                  Začni hneď teraz a buď najlepší programátor!
              </p>

          </div>

          <div class = "col-lg-4 col-lg-offset-1 col-md-6">

              <a class = "l-button" href = "{% url 'account_register' %}">
                  Zaregistruj sa
                  <i class="glyphicon glyphicon-chevron-right"></i>
              </a>

          </div>

      </div>

    </div>

</div>


{% include 'about/highlights.html' %}

{% include 'about/slider.html' %}

{% endblock content %}
