{% extends "base.html" %}
{% block title %}O Liahni{% endblock title %}

{% block content %}

</div> <!-- TODO later dat vsade container-fluid a tato grcka tu uz nebude musiet byt -->

    <div class="container-fluid l-inverse-text" id="l-intro-whatis">

      <div class = "row">

          <div class = "col-lg-2 col-md-1"> </div>

          <div class = "col-lg-5 col-md-6">

              <h2>Programátorská liaheň</h2>

          </div>

          <div class = "col-lg-1"> </div>

          <div class = "col-lg-3 col-md-6">

              <a class = "l-button" href = "{% url 'account_register' %}">Zaregistruj sa <i class="glyphicon glyphicon-chevron-right"></i> </a> </h2>

          </div>

          <div class = "col-lg-2 col-md-1"> </div>

              <!-- uvidime ci to tu chceme mat alebo nie
              <p>Programátorská liaheň slúži na výučbu programovania pre začiatočníkov aj tréning pre pokročilých. Si teoretický typ? Alebo skôr praktický? Na svoje si prídu všetci!</p>
              -->
      </div>

    </div>

    <div class="container">

    {% include 'about/slider.html' %}

{% endblock content %}
