{% load staticfiles %}
    <div class = "row">
<!--        <div class = "page-header">
            <h2>Ukážky (TODO:fancy screenshoty z liahne)</h2>
        </div>-->

        <div class = "col-lg-4"><img src="{% static 'images/prev1.png' %}" class="img-responsive img-thumbnail" alt = "Ukážka" /></div>
        <div class = "col-lg-4"><img src="{% static 'images/prev2.png' %}" class="img-responsive img-thumbnail" alt="Ukážka" /></div>
        <div class = "col-lg-4"><img src="{% static 'images/prev3.png' %}" class="img-responsive img-thumbnail" alt="Ukážka" /></div>
    </div>
