<h3> O projekte </h3>

<p>Programátorskú liaheň spáchali organizátori
    <a href = "http://ksp.sk">Korešpondenčeného seminára z programovania</a>,
    ktorý je spolu s <a href = "https://www.kms.sk">KMS</a> a <a href = "https://www.fks.sk">FKS</a>
    združený v združení <a href = "https://www.trojsten.sk">Trojsten</a>.
    Sme z <a href="http://www.fmph.uniba.sk">Fakulty Matematiky, Fyziky a Informatiky UK</a>
    v Bratislave, väčšina z nás ešte študuje.
</p>

<p>Tejto verzii predchádzala <a href = "https://oldliahen.ksp.sk">"stará" Liaheň</a>,
    ktorá výborne poslúžila svojmu účelu, no chceli sme ju vylepšiť
    a tak sme sa rozhodli prerobiť ju od základov.
</p> 

<p>Priebežne ešte dorábame ako funkcie, tak aj obsah. "Funguje" to už dávno,
    a dokonalé to nebude nikdy. :-) Ak bez nejakej konkrétnej veci nemôžeš byť,
    <a href = "{% url 'about:intro' %}#contact">kontaktuj nás</a>,
    presunieme ju na vyššie miesto v rebríčku priorít.
</p>
