{% load staticfiles %}

<div id="l-intro-slider">

	<div class="l-slider l-top-gap">

		<ul>

			<li>

	            <div class="row">

	                <div class="col-sm-12 col-md-6 col-md-offset-1">

	                    <a href="{% static 'images/prev1.png' %}" class="fresco"
							data-fresco-group="intro-slider">

							<img src="{% static 'images/prev1.png' %}"
								class="img-responsive img-thumbnail l-img l-img-shadowed"
								alt = "Ukážka" />

						</a>

	                </div>

	                <div class="col-sm-12 col-md-4 l-text-content">

	                    <h1> 1. Nauč sa nové programovacie techniky </h1>

	                    <p> Objavovať sám spôsoby ako urobiť niečo elegantne a rýchlo je
	                        ťažké, a zaberie ti veľmi veľa času učením sa na vlastných
	                        chybách.</p>
	                    <p> Pripravili sme pre teba kvalitné texty
							a ukážkové kódy programov, ktoré ti ukážu
	                        ako efektívne a hladko pristupovať k riešeniu problémov
	                        takže sa toho v krátkom čase naučíš oveľa viac
	                        a budeš omnoho rýchlejšie schopný/á vytvárať vlastné
	                        dobré algoritmy. </p>

	                </div>

	            </div>

	        </li>

			<li>

				<div class="row">

					<div class="col-sm-12 col-md-4 col-md-offset-1 l-text-content">

						<h1> 2. Precvič si nadobudnuté znalosti v praxi </h1>

						<p> Ku každému učebnému textu sa vzťahuje niekoľko úloh,
							na ktorých si môže získané vedomosti precvičiť
							a uistiť sa, že ich budeš vedieť použiť pod časovým
							nátlakom na súťaži. Ťažko na cvičisku, ľahko na bojisku!</p>
						<p> Tvoje riešenia budú hneď po odovzdaní automaticky našim
						 	systémom otestované, takže sa hneď dozvieš, či
							si danú problematiku zvládol. </p>

					</div>

					<div class="col-sm-12 col-md-6">

						<a href="{% static 'images/prev2.png' %}" class="fresco"
							data-fresco-group="intro-slider">

							<img src="{% static 'images/prev2.png' %}"
								class="img-thumbnail img-responsive l-img l-img-shadowed"
								alt = "Ukážka" />

						</a>

					</div>

				</div>

			</li>

			<li>

				<div class="row">

					<div class="col-sm-12 col-md-6 col-md-offset-1">

						<a href="{% static 'images/prev2.png' %}"
							class="fresco" data-fresco-group="intro-slider">

							<img src="{% static 'images/prev2.png' %}"
								class="img-thumbnail img-responsive l-img l-img-shadowed"
								alt = "Ukážka" />

						</a>

					</div>

					<div class="col-sm-12 col-md-4 l-text-content">

						<h1> 3. Súťaž s ostatnými a získavaj odmeny </h1>

						<p> Hlavnou odmenou za riešenie Liahne je, že sa to
							môže premietnuť do Tvojich výsledkoch na stredoškolských
							súťažiach v programovaní, ako je
							<a href="//oi.sk"> Olympiáda v informatike</a>
							alebo <a href="https://www.ksp.sk"> KSP</a>.
							Takýmto spôsobom vieš vyhrať vecné ceny a účasť na odborných sústredeniiach,
							alebo sa aj dostať na platenú stáž do programátorských
							firiem.
						</p>

					</div>

				</div>

			</li>

		</ul>

	</div>

	<div class="l-slider l-controls">

		<span class="l-prev-btn"> <i class="glyphicon glyphicon-chevron-left"></i> </span>
		<span class="l-next-btn"> <i class="glyphicon glyphicon-chevron-right"></i> </span>

	</div>

</div>
