{% extends "base.html" %}
{% block title %}Kontakt{% endblock title %}

{% block content %}

    <div id="l-terms-of-use" class="row">

        <div class="col-md-2 col-sm-1"> </div>

        <div class="col-md-8 col-sm-10">

            <div class = "page-header">

                <h2>Podmienky používania</h2>

            </div>

            <div class="l-term l-top-gap-small">

                <h3>Nepodvádzaj</h3>

                <p> Všetky programy, ktoré pošleš na otestovanie, musia byť
                    tvoje vlastné. Nesmieš posielať riešenia, ktoré len
                    natvrdo vypisujú nejako zistené správne odpovede na
                    naše vstupy, tvoje riešenie musí byť naozaj schopné
                    v časovom limite zriešiť každý možný vstup.
                </p>

                <p> Predpočítať si nejaké vhodné hodnoty, ako napríklad tabuľku
                    niekoľkých malých prvočísel, je skoro vždy v poriadku.
                    Inými slovami, šikovné predpočítanie je dobré,
                    snaha podvádzať je zlá – a to hlavne pre teba.
                </p>

            </div>

            <div class="l-term l-top-gap-small">

                <h3>Nehackuj</h3>

                <p>Nesmieš sa snažiť získať neoprávnený prístup na testovací
                    server ani zabraňovať ostatným používateľom využívať
                    jeho služby (čítaj: hackovať náš server :).
                </p>

                <p>Ak by si ale nejakým spôsobom prišiel na bezpečnostné diery,
                    určite nám <a href = "{% url 'about:contact' %}">daj&nbsp;vedieť</a>,
                    budeme ti vďační. Kto vie, možno ťa najmeme ako testera. :-)
                </p>

            </div>

            <div class="l-term l-top-gap-small">

                <h3>Tvoje vlastníctvo</h3>

                <p>Všetky programy, ktoré nám pošleš, zostávajú tvojím
                    vlastníctvom. Tým, že ich submitneš, nám dávaš právo
                    zverejniť ich zdrojový kód na nahliadnutie iným
                    registrovaným používateľom Liahne.
                </p>

                <p>Nemusíš sa báť, zdrojové kódy tvojich neúspešných pokusov
                    zverejňovať nebudeme.</p>

            </div>

            <div class="l-term l-top-gap-small">

                <h3>Naše vlastníctvo</h3>

                <p>Všetky sprievodné texty a vzorové programy na týchto
                    stránkach sú vlastníctvom ich autorov. Akákoľvek
                    neautorizovaná reprodukcia textov alebo častí
                    textov a akékoľvek použitie tu zverejnených
                    programov na iné ako individuálne študijné účely je
                    zakázané a bude postihované v zmysle zákona 618/2003 Zb.
                    o autorskom práve a právach súvisiacich s autorským právom.
                </p>

                <p>V prípade, že ich chceš použiť inak,
                    <a href = "{% url 'about:contact' %}" >daj nám vedieť</a>,
                    možno sa dohodneme.
                </p>

            </div>


            <div class = "l-danger-box l-top-gap">

                <p>Porušenie týchto podmienok môže byť potrestané varovaním a
                    zablokovaním loginu.
                    Preto ich naozaj dodržiavaj. Ak si nie si istý/á
                    či je niečo povolené,
                    <a href = "{% url 'about:contact' %}" class = "alert-link">opýtaj sa</a>.
                </p>

            </div>

        </div>

        <div class="col-md-2 col-sm-1"> </div>

    </div>

{% endblock content %}
